* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(1, 1, 34);
  color: white;
  font-family: "poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(5, 5, 90);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(184, 184, 243);
  font-size: 1.04rem;
}

.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}

.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 2.5rem;
}

.rightSection img {
  width: 70%;
}

.purple {
  color: rgb(146, 59, 228);
}

#element {
  color: rgb(146, 59, 228);
}
.secondSection{
    max-width: 80vw;
    margin: auto;
}
main hr{
    border: 0;
    background: rgb(155, 155, 210);
    height: 1.2px;
    margin: 40px 84px ;
}